<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RecipePlatform.MVC</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/RecipePlatform.MVC.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
       <div class="container navbar-content">
            <a class="logo" asp-area="" asp-controller="Home" asp-action="Index">TasteBud</a>

            <nav class="nav-links">
                <a class="nav-item @(ViewContext.RouteData.Values["action"]?.ToString() == "Index" ? "active" : "")"
                   asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                <a class="nav-item" href="#about">About</a>
                <a class="nav-item @(ViewContext.RouteData.Values["action"]?.ToString() == "Recipes" ? "active" : "")"
                   asp-area="" asp-controller="Recipes" asp-action="Index">Recipes</a>
            </nav>

            <div class="auth-links">
                <a href="#">Sign up</a> | <a href="#">Sign In</a>
            </div>
        </div>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="custom-footer">
        <div class="footer-curve">
            &copy; 2025 - TasteBud
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
